body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 300px;
    overflow-x: hidden;
}

.vw100 {
    width: 100vw;
}

.beautify-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.beautify-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 8px 0 0 #A5ADB7 inset;
}

.beautify-scrollbar::-webkit-scrollbar-thumb:hover {
    box-shadow: 8px 0 0 #858585 inset;
}

.transition-300ms {
    transition: 300ms;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}